@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbars for long forms */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #8f68ab;   /* brandLavender */
  border-radius: 4px;
}